body {
  font-family: 'Poppins', sans-serif;
}

body.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .flex-col {
  background-color: #2d3748;
  color: white;
}

/* Estilos para el botón de cambio de modo */
#toggle-dark-mode {
  color:  #4A5568; /* color de texto para modo claro */
}
.dark-mode #toggle-dark-mode{
  background-color: #4A5568; 
  color: #FFF; 
}
.dark-mode #Barraa{
  background-color: #4A5568; 
  color: #FFF; 
}
.dark-mode #Lobyr{
  color: #ffffff; 
}

#toggle-dark-mode:hover {
  background-color: #999;
  color: #FFF; 
}
.dark-mode #dark-mode-text{
  color: white;
}

.dark-mode #Helpme:hover{
  background-color: #999;
  color: #FFF; 
}

.dark-mode #menu-button:hover{
  background-color: #999;
  color: #FFF; 
}
.dark-mode #clear-chat:hover{
  background-color: #999;
  color: #FFF; 
}
/* Estilos para el elemento de chat */
#chat {
  padding: 12px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgb(255, 255, 255);
  margin-bottom: 24px;
  max-height: 75vh;
}
.dark-mode #chat{
  background-color: #2d3748;
}
.dark-mode #Chatbot{
  background-color: #4A5568;
}

#chat p {
  margin: 0 0 6px;
}


.highlight {
  background-color: yellow;
}

.btn-record svg {
  fill: black;
}

.btn-record.active svg {
  fill: black;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  padding: 0.5rem;
  border-radius: 9999px;
}

button.active {
  background-color: transparent;
}

button.active svg {
  fill: #FFF;
  animation: pulse 20s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#clear-chat {
  color: #1A202C; /* color de texto para modo claro */
}

.dark-mode #clear-chat {
  background-color: #4A5568; /* color de fondo para modo oscuro */
  color: #FFF; /* color de texto para modo oscuro */
}
/* Estilos para el botón de ayuda */
#Helpme {
  color: #333; /* color de texto para modo claro */
}

.dark-mode #Helpme {
  background-color: #4A5568; /* color de fondo para modo oscuro */
  color: #FFF; /* color de texto para modo oscuro */
}
/* Estilos para el botón de nueva conversación */
#menu-button {
  color: #333; /* color de texto para modo claro */
}

.dark-mode #modoTotal{
  background-color: #4A5568; /* color de fondo para modo oscuro */
}
.dark-mode ::placeholder {
  color: white;
}
.dark-mode #micro{
  fill: rgb(59, 130, 246);
  color: rgb(59, 130, 246);;
}
.dark-mode #micro:hover{
  fill: rgb(0, 0, 0);
  color:rgb(0, 0, 0);
}
.dark-mode #menu-button {
  background-color: #4A5568; /* color de fondo para modo oscuro */
  color: #FFF; /* color de texto para modo oscuro */
}

.btn-conversation {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 9999px;
}

.btn-conversation-light {
  color: #1f2937;
}

.btn-conversation-dark {
  background-color: #4b5563;
  color: #f9fafb;
}
.dark-mode #Helpme:hover {
  background-color: #999;
  color: #FFF; /* cambiar el color del texto en hover */
}

.dark-mode #Helpme svg {
  stroke: #fff;
}
.dark-mode #clear-chat svg {
  stroke: #fff;
}
.dark-mode #menu-button svg {
  stroke: #fff;
}


.dark-mode #menu {
  background-color: #4b5563;
  color: white;
}
.dark-mode #menu a {
  color: white;
}

.dark-mode #menu a:hover {
  background-color: #999;
  color: #FFF; 
}
.dark-mode #NombreDelAs {
  color: rgb(255, 255, 255);
}
.dark-mode #OnlineDark{
  color: rgb(255, 255, 255);
}
.clear-chat-confirm {
  display: none;
}
.clear-chat-confirm button:hover {
  background-color: #4b5563;
  color: #ffffff;
}
/*Sugerencias de ortografia*/

#message-form {
  display: flex;
}
.dark-mode .input{
  background-color: #4b5563;
}

.input-container {
  display: flex;
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

#message {
  width: 100%;
}

.suggestion-list {
  z-index: 10;
}

.suggestion-list li {
  padding: 5px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #e5e7eb;
}
 .dark-mode small{
    color: #FFF
 }
.dark-mode #message{
  background-color: #4b5563;
}
.dark-mode #search-input{
  background-color: #4b5563;
  border-color: #4b5563;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
}
.dark-mode #search-input {
  color: white; /* Cambia el color de texto a blanco en modo oscuro */
}
 
#voice-canvas {
  display: none;
}
#recording-status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: #4f4f4f;
}

#recording-status.recording {
  color: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.dark-mode #intro-container{
  background-color: #4b5563;
}
.dark-mode h1{
  color: white;
}

.dark-mode h2{
  color: black;
}
/* Modo oscuro */
/* Estilos para la modal en modo claro */
#modal2 {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente en modo claro */
}

#modal2 .bg-white {
  background-color: #ffffff; /* Color de fondo en modo claro */
}

#modal2 h2 {
  color: #333333; /* Color de texto del título en modo claro */
}

#modal2 p {
  color: #666666; /* Color de texto del mensaje en modo claro */
}

#modal2 button {
  background-color: #3651be; /* Color de fondo del botón en modo claro */
  color: #ffffff; /* Color de texto del botón en modo claro */
}

#modal2 button:hover {
  background-color: #4b5563
}

/* Estilos para la modal en modo oscuro */

.dark-mode #modal2 .bg-white {
  background-color: #2d3748; /* Color de fondo en modo oscuro */
}

.dark-mode #modal2 h2 {
  color: #f7fafc; /* Color de texto del título en modo oscuro */
}

.dark-mode #modal2 p {
  color: #cbd5e0; /* Color de texto del mensaje en modo oscuro */
}

.dark-mode #modal2 button {
  background-color: #f56565; /* Color de fondo del botón en modo oscuro */
  color: #ffffff; /* Color de texto del botón en modo oscuro */
}

.dark-mode #modal2 button:hover {
  background-color: #e53e3e; /* Color de fondo del botón al pasar el cursor en modo oscuro */
}
/* Estilos para la modal en modo claro */
#modal {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente en modo claro */
}

#modal .bg-white {
  background-color: #ffffff; /* Color de fondo en modo claro */
}

#modal h2 {
  color: #333333; /* Color de texto del título en modo claro */
}

#modal p {
  color: #666666; /* Color de texto del mensaje en modo claro */
}

#modal button {
  background-color: #3651be; /* Color de fondo del botón en modo claro */
  color: #ffffff; /* Color de texto del botón en modo claro */
}

#modal button:hover {
  background-color: #4b5563
}

/* Estilos para la modal en modo oscuro */


.dark-mode #modal .bg-white {
  background-color: #2d3748; /* Color de fondo en modo oscuro */
}

.dark-mode #modal h2 {
  color: #f7fafc; /* Color de texto del título en modo oscuro */
}

.dark-mode #modal p {
  color: #cbd5e0; /* Color de texto del mensaje en modo oscuro */
}

.dark-mode #modal button {
  background-color: #f56565; /* Color de fondo del botón en modo oscuro */
  color: #ffffff; /* Color de texto del botón en modo oscuro */
}

.dark-mode #modal button:hover {
  background-color: #e53e3e; /* Color de fondo del botón al pasar el cursor en modo oscuro */
}



/* Barra de scroll */
.dark-mode ::-webkit-scrollbar {
  width: 10px;
}

/* Color de la barra de scroll y del pulgar */
.dark-mode ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Color del fondo de la barra de scroll */
.dark-mode ::-webkit-scrollbar-track {
  background-color: #4b5563;
}

/* Estilo de la barra de scroll */
.dark-mode ::-webkit-scrollbar-track-piece {
  background-color: #4b5563;
}
#message {
  flex-grow: 1;
  padding: 0.75rem;
  background-color: #F9FAFB;
  border: 1px solid #D2D6DC;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #4B5563;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  }

  #btnSend {
    margin-left: -2px;
    height: 100%;
    position: absolute;
    right: 43;
    color: rgb(59, 130, 246);
    background-color: transparent;
  }
  #btn2 {
    height: 100%;
    position: absolute;
    right: 0;
    background-color: transparent;
  }
  #btn2:hover{
    background-color: #999;
  }

  #recording-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: #4f4f4f;
  }

  #recording-status.recording {
    color: red;
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .input-container input {
    padding-right: 120px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .input-container .button-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
  }
  
  .input-container .button-container button {
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: #eee;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  .input-container .button-container button.btn-send {
    background-color: #007bff;
    color: #fff;
  }
  
  
  
  .input-container .button-container button#btn2 {
    background-color: transparent;
    right: 0;
  }
  
  .input-container .button-container button#btn2:hover {
    background-color: red;
  }
  
    #message-form {
      justify-content: center;
      align-items: center;
    }

    .message-input {
      height: auto;
      min-height: 40px; /* Altura mínima deseada */
      max-height: 120px; /* Altura máxima deseada */
      overflow-y: auto; /* Agregar barra de desplazamiento vertical cuando se excede la altura máxima */
      resize: vertical; /* Permitir redimensionar verticalmente */
    }
    /* Estilo inicial del div del mensaje del bot */.dark-mode .bot-message {
  background-color: #4A5568;
  color: white;
}

/* Estilos para el mensaje del bot */
.bot-message {
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 0px;
}

.bot-message p {
  margin: 0;
}

/* Estilos para el mensaje del bot en modo oscuro */
.dark-mode .bot-message p {
  color: white;
}

/* Estilos para el mensaje de error del bot en modo oscuro */
.dark-mode .bot-error-message p {
  color: white;
}

#modal2{
  display: flex;
  visibility: hidden;
}
/* Modo oscuro */
.dark-mode #icon-menu-container svg{
  color: rgb(255, 255, 255); /* Cambia el color del texto en modo oscuro a gris */
}
/* En modo oscuro, cambia el color de fondo, el color del texto y otros estilos del botón */
.dark-mode #icon-menu-container button {
  background-color: gray; /* Cambia el color de fondo del botón a gris en modo oscuro */
  color: white; /* Cambia el color del texto a blanco en modo oscuro */
  /* Agrega otros estilos necesarios aquí */
}
/* Cambia el color de fondo del input y los botones en modo oscuro */
.dark-mode #input-container {
  background-color: gray;
  color: white;
}

.dark-mode #input-container input[type="text"] {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}

.dark-mode #input-container button {
  background-color: blue;
  color: white;
}


/* Agrega otros estilos para el modo oscuro si es necesario */



     /* Estilos para el contenedor de la barra */
     #Barraa {
      position: relative; /* Agregamos una posición relativa para que el icono pueda posicionarse correctamente */
      
    }

    /* Estilos para el botón del menú */
    #icon-menu-container {
      position: absolute;
      top: 25px;
      left: 20px; /* Cambiamos 'right' por 'left' para posicionar en el lado izquierdo */
      display: flex; /* Agregamos 'display: flex' para que el ícono esté en línea con el texto */
      align-items: center; /* Alineamos los elementos verticalmente en el centro */
      gap: 5px; /* Añadimos espacio entre el ícono y el texto */
    }

    /* Efecto de opacidad al pasar el mouse por el botón del menú */
    #icon-menu-container:hover{
      opacity: 0.8;
    }

    /* Estilos para el contenedor del menú */
    #con {
      max-width: 100%;
      width: 300px; /* Establece un ancho fijo para el contenedor */
      /* Resto de estilos */
    }

    /* Transiciones para suavizar la aparición y desaparición del menú en pantallas pequeñas */
    @media screen and (max-width: 800px) {
      #icon-menu-container {
        display: flex;
      }

      /* Mostrar el menú */
      #con.visible {
        transform: translateX(0);
        opacity: 1;
      }

      /* Ocultar el menú */
      #con.hidden {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none; /* Evitar que se pueda hacer clic en elementos ocultos */
      }

      /* Animación para la aparición y desaparición del menú */
      @keyframes slideIn {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes slideOut {
        from {
          transform: translateX(0);
          opacity: 1;
        }
        to {
          transform: translateX(-100%);
          opacity: 0;
        }
      }
    }
.message-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-text > div {
  word-wrap: break-word;
}


/* Estilos normales para el color de fondo gray-200 en respuestas del bot */
.message-text .bg-gray-200 {
  background-color: #f3f4f6;
}

/* Estilos para el modo oscuro en respuestas del bot */
.dark-mode .message-text .bg-gray-200 {
  background-color: #4b5563;
}

/* Estilos para el texto dentro de respuestas del bot en gray-200 */
.message-text .bg-gray-200 .text-black {
  color: #000;
}
.dark-mode .message-text .bg-gray-200 .text-black {
  color: #ffffff;
}

/* Estilos para el modo oscuro en el contenedor principal */
.dark-mode #chat-container {
  background-color: #2d3748;
  color: #fff;
}
.dark-mode message-box {
  /* Agrega los estilos específicos para el modo oscuro */
  background-color: #333333;
  color: #ffffff;
  /* Añade más estilos si es necesario */
}
/*#con {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;

}

#modoTotal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Establece el ancho al 100% para cubrir toda la pantalla 
}

#intro-container {
  width: calc(100% + 50%); 
}
*/